.App{
  width: 100%;
  height: 100%;
  background-color: #263238;
  height: 100%;
}

.input-text, .output{
  color: white;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 20px;
  float: left;
  display: block;
}

.output{
  width: 65%;
}

.input-text{
  -moz-tab-size : 2;
    -o-tab-size : 2;
       tab-size : 2;
  width: 35%;
  font-size: 22px;
  color: #fff;
  background-color: rgb(62, 64, 63);
  border-right: 4px solid #2196F3;
}
